@model Database.Models.Produto

@{
    ViewBag.Title = "Detalhe";
}

<h2>Detalhe</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Model.Nome</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    
                    <dt>
                        Tipo de Produto
                    </dt>

                    <dd>
                        @ViewBag.TipoProduto
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Preco)
                    </dt>

                    <dd>
                        @string.Format("{0:C}", Model.Preco)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                @Html.Image(Model.Foto)
            </div>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm("Deletar", "Produto"))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdProduto)

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
    }
}

<div class="fb-comments" data-href="http://www.f5digital.noip.me/sos-feevale?produtoId=@Model.IdProduto" data-width="100%" data-numposts="5"></div>


<div id="fb-root"></div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '149749735439080',
      xfbml      : true,
      version    : 'v2.6'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>