@model Database.Models.Produto

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdProduto)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao)
        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descricao)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Preco)
        @Html.TextBoxFor(model => model.Preco, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Preco)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foto)
        @Html.TextBoxFor(model => model.Foto, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Foto)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdEstabelecimento)
        @Html.DropDownList("IdTipoProduto", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdEstabelecimento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdEstabelecimento)
        @Html.DropDownList("IdEstabelecimento", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdEstabelecimento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Salvar" />
    </div>
}