@model Web.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.NomeCompleto
    </div>
    
    <div class="panel-body">        
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <span>Usuário <strong>@User.Identity.Name</strong> logado</span>
                <br />
                <a class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        }
        else
        {
            @Html.ActionLink("Logar", "Login", "Account", null, new { @class = "btn btn-default" });
            @Html.ActionLink("Registrar", "Register", "Account", null, new { @class = "btn btn-default" });
        }

    </div>

</div>

@section scripts {
    <script>
        new Home.Index('@Model.Nome');
    </script>
}