
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li>
            @Html.ActionLink("Estabelecimentos", "Index", "Estabelecimeto")
        </li>
        <li>
            @Html.ActionLink("Produtos", "Index", "Produto")
        </li>
        <li>
            @Html.ActionLink("Servicos", "Index", "Servico")
        </li>
        <li>
            @Html.ActionLink("Contato", "Index", "Contato")
        </li>
        <li>
            @Html.ActionLink("Parceiros", "Index", "Parceiro")
        </li>
        <li>
            @Html.ActionLink("Contato", "Index", "Contato")
        </li>
    </ul>


